#container{
  margin: 0 auto;
  width: 60%;
  color: #000;
}

header{
  text-align: center;
}

main section p{
  margin: 50px 0 30px 0;
  text-align: center;
}

label{
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  color: #666;
}

input[type=text], input[type=email], input[type=number], select, input[type=submit], textarea{
  width: 100%;
  display: block;
  padding: 5px 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}


input[type=submit]{
  width: 50%;
  background-color: #55AAFF;
  padding: 10px;
  color: white;
  margin: 0 auto;
}