<% include partials/header %>



<h1>This is the secret page</h1>
<p>You found me!!!!</p>
<img style="height: 300px" src="http://pointjewels.co.za/wp-content/uploads/2016/01/diamonds-worth.jpg">

<% include partials/footer %>