.App {
  text-align: center;
  /* background: url('imgs/iris_background_1.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  z-index: 0;
}
.App::before {
  content: " ";
  background-color: rgba(0,0,0,0.5);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-main-content {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  z-index: 2;
}
.App-main-content > h3{
  width: 40%;
  margin: 3rem auto;
  margin-bottom: 1rem;
  line-height: 4rem;
}
.App-main-content > div{
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
}
.App-main-content > .ScatterPlotMatrix-container{
  position: absolute;
    top: 15%;
    right: 2%;
    width: 600px;
    background-color: rgba(0,0,0,0.5);
    height: 600px;
}
.iris-prediction-component > div:first-child{
  margin: 0;
  width: 20%;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
