		svg {
		  font: 10px sans-serif;
		  padding: 10px;
		}


		.axis,
		.frame {
		  shape-rendering: crispEdges;
		}
		.axis line {
		  stroke: #333;
		}
		.axis path {
		  /* display: none; */
			stroke: gray; 
			fill: none;
			stroke-width: 1px;
		}
    .axis text{
      fill: gray;
    }




		.cell text {
		  font-weight: bold;
		  text-transform: capitalize;
		  fill: black;
		}

		.frame {
		  fill: none;
		  stroke: #777;
		}

		circle {
		  fill-opacity: .7;
		  transition: all .6s;
		}

		circle.hidden {
		  fill: #444 !important;
		  transition: all .6s;
		}

		.extent {
		  fill: #000;
		  fill-opacity: .125;
		  stroke: #fff;
		}