<!DOCTYPE html>
<html>
<head>
	<title>My First Complete HTML Page</title>
	<link rel="stylesheet" type="text/css"  href="/app.css">
	<style>
	    body{
	        color: purple;
	    }
	</style>
</head>
<body>